In [51]:
import os
import csv
import sys
import ast
import pymysql.cursors
import decimal
from decimal import Decimal
import pandas as pd
import numpy as np

In [52]:
path_import = '../data/'
#path_import = 'C:/Users/Loic/Documents/TP_AccidentsRouteLyon/data/'
data_caracteristiques_file = 'caracteristiques_2016.csv'
data_lieux_file = 'lieux_2016.csv'
data_usagers_file = 'usagers_2016.csv'
data_vehicules_file = 'vehicules_2016.csv'

In [53]:
path_export = '../result/'
#path_export = 'C:/Users/Loic/Documents/TP_AccidentsRouteLyon/data/'
result_file = 'the_result_file.csv'

In [54]:
column_type_caracteristiques = {'Num_Acc': np.int64}
column_type_usagers = {'Num_Acc': np.int64}
column_type_vehicules = {'Num_Acc': np.int64}
column_type_lieux = {'Num_Acc': np.int64,
                        'catr': np.int64,
                        'voie': np.string_,
                        'v1':np.float64,
                        'v2':np.string_,
                        'circ':np.float64,
                        'nbv':np.float64,
                        'pr':np.float64,
                        'pr1':np.float64,
                        'vosp':np.float64,
                        'prof':np.float64,
                        'plan':np.float64,
                        'lartpc':np.float64,
                        'larrout':np.float64,
                        'surf':np.float64,
                        'infra':np.float64,
                        'situ':np.float64,
                        'env1':np.float64}

columns_unuseful = ['trajet',
                    'an',
                    'com',
                    'adr',
                    'lat',
                    'long',
                    'dep']

vehicule_classique = [7,10]
vehicule_air_libre = [1,2,30,31,32,33,34,35,36]
vehicule_lourd = [13,14,15,16,17,37,38,39,40]

### decoupe_journee aurait mérite à etre clusterisée
decoupe_journee = [[0,559],[600,1159],[1200,1359],[1400,1759],[1800,2159], [2200,2401] ]
ct_several_veh = 0

decoupe_age = [[0,15],[15,25],[25,45],[45,65],[65,120]]

In [55]:
export_mode = True

In [56]:
def journee_decoupe(_integer):
    global decoupe_journee

    for moment in range(0,len(decoupe_journee)):
        if (decoupe_journee[moment][0] <= _integer) and (_integer <= decoupe_journee[moment][1]):
            result = moment
            break

    return result

def age_decoupe(_integer):
    global decoupe_age
    
    result =-1
    for tranche in decoupe_age:
        result += 1
        if (tranche[0] <= _integer) and (_integer <= tranche[1]):
            break
    return result

In [57]:
def vehicule_type(_int):
    if _int in vehicule_air_libre:
        return 1
    elif _int in vehicule_classique:
        return 2
    elif _int in vehicule_lourd:
        return 3
    else:
        return 0

In [58]:
def vehicule_oppose(_string, _data, _catv):
    global ct_several_veh

    liste_vehicules = list(set(merged_data[merged_data.Num_Acc == _string]['catv']))
    liste_vehicules.remove(_catv)
    if len(liste_vehicules) == 1:
        return liste_vehicules[0]
    elif len(liste_vehicules) == 0:
        return _catv
    else:
        ct_several_veh += 1
        return liste_vehicules[0]

In [59]:
data_vehicules = pd.read_csv(path_import + data_vehicules_file, dtype = column_type_vehicules)
data_vehicules.fillna(0, inplace = True)

data_usagers = pd.read_csv(path_import + data_usagers_file, dtype = column_type_usagers)
data_usagers.fillna(0, inplace = True)

data_lieux = pd.read_csv(path_import + data_lieux_file, dtype = column_type_lieux,error_bad_lines=False)
data_lieux.fillna(0, inplace = True)

data_caracteristiques = pd.read_csv(path_import + data_caracteristiques_file, dtype = column_type_caracteristiques, sep = ";")
data_caracteristiques.fillna(0, inplace = True)

In [60]:
data_usagers = data_usagers.sort_values('Num_Acc')

data_vehicules = data_vehicules.sort_values('Num_Acc')
merged_data = pd.merge(data_usagers ,data_vehicules, on = ['Num_Acc','num_veh'], how = 'inner')
merged_data = pd.merge(merged_data ,data_caracteristiques, on = 'Num_Acc', how = 'inner')

merged_data = merged_data.drop_duplicates()


merged_data = merged_data.drop(columns_unuseful, axis = 1)
### On va rester dans la métropole : 
merged_data = merged_data[merged_data.gps == 'M']
merged_data = merged_data.drop('gps', axis = 1)


### merged_data['num_veh_x'] = merged_data['num_veh_x'].apply(lambda x: str(x))
### petite boucle
merged_data['mom'] = merged_data.apply(lambda x: journee_decoupe(x['hrmn']), axis=1)
merged_data['age'] = list(map(lambda x: age_decoupe(2016 - x), merged_data['an_nais']))


### merged_data.info()
isnull_essai = data_lieux.isnull()


merged_data.groupby(['Num_Acc'])

### Petite boucle pour trouver le vehicule 'adverse'

merged_data['catvopp'] = merged_data.apply(lambda x: vehicule_oppose(x['Num_Acc'],merged_data, x['catv']), axis=1)
merged_data['catv_gen'] = merged_data.apply(lambda x: vehicule_type(x['catv']), axis=1)
merged_data['catvopp_gen'] = merged_data.apply(lambda x: vehicule_type(x['catvopp']), axis=1)



colonnes_inutiles = ['num_veh','Num_Acc',
                                'locp',
                                'actp',
                                'etatp',
                                'catv',
                                'hrmn',
                                'mois',
                                'jour',
                                'catvopp',
                                'occutc',
                                'place',
                                'an_nais']

merged_data = merged_data.drop(colonnes_inutiles,axis = 1)

Detection d'outliers.

In [61]:
from sklearn.ensemble import IsolationForest

clf = IsolationForest(n_estimators=1000, n_jobs=-1)
clf.fit(merged_data)
prediction  = clf.predict(merged_data)

In [62]:
prediction = pd.DataFrame(prediction)
merged_data = pd.concat([merged_data, prediction], axis=1)

In [63]:
cleaned_data = merged_data.loc[merged_data[0] == 1]
cleaned_data = cleaned_data.drop(0,axis = 1)

In [64]:
if export_mode:
    cleaned_data.to_csv(path_export + result_file)

In [65]:
cleaned_data.head()

,catu,grav,sexe,secu,senc,obs,obsm,choc,manv,lum,agg,int,atm,col,mom,age,catv_gen,catvopp_gen
0,1.0,1.0,2.0,11.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,8.0,3.0,3.0,2.0,2.0,1.0
2,1.0,3.0,1.0,11.0,0.0,6.0,0.0,1.0,1.0,1.0,2.0,6.0,1.0,6.0,4.0,3.0,2.0,2.0
3,2.0,3.0,1.0,11.0,0.0,6.0,0.0,1.0,1.0,1.0,2.0,6.0,1.0,6.0,4.0,1.0,2.0,2.0
4,2.0,3.0,2.0,11.0,0.0,6.0,0.0,1.0,1.0,1.0,2.0,6.0,1.0,6.0,4.0,3.0,2.0,2.0
5,1.0,1.0,1.0,11.0,0.0,0.0,1.0,6.0,1.0,1.0,1.0,1.0,1.0,6.0,4.0,1.0,2.0,2.0